.prideMonth {
  background-image: linear-gradient(
    135deg,
    #fe0000 16.66%,
    #fd8c00 16.66%,
    33.32%,
    #ffe500 33.32%,
    49.98%,
    #119f0b 49.98%,
    66.64%,
    #0644b3 66.64%,
    83.3%,
    #c22edc 83.3%
  );
}

.transAwareness {
  background-image: linear-gradient(
    135deg,
    #5bcefa 20%,
    #f5a9b8 20%,
    40%,
    #ffffff 40%,
    60%,
    #f5a9b8 60%,
    80%,
    #5bcefa 80%
  );
}

.biAwareness {
  background-image: linear-gradient(135deg, #d60270 40%, #9b4f96 40%, 60%, #0038a8 60%);
}

.halloween {
  background-color: #ff912a;
}
