.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 7.5px;
  border: 1px solid var(--border-colour);
  margin: 0.5em;
  overflow: hidden;
  position: relative;
  min-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h3 {
  color: var(--link-colour);
}

.card:hover h3 {
  text-decoration: underline;
}

.card h3 {
  line-height: 5px;
}

.cardBody {
  padding: calc(var(--padding) / 2) var(--padding);
  display: flex;
  align-items: center;
  color: white;
}

.cardImage {
  height: 4em;
  border-radius: 50%;
  margin-right: var(--padding);
}

.cardInfo {
  display: flex;
  align-items: center;
}

.cardFooter {
  padding: calc(var(--padding) / 2) var(--padding);
  display: flex;
  align-items: center;
  color: grey;
  border-top: 1px solid var(--border-colour);
  background: var(--secondary);
  flex: 1 0 100%;
  width: 100%;
}

.cardContainer {
  max-width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardContainer .card {
  flex: 1 0 32%;
}

.sectionLabel {
  text-align: center;
  color: rgb(85, 85, 85);
  line-height: 5px;
  user-select: none;
}

.sectionLabel h3 {
  font-weight: 400;
  font-size: 1rem;
}
